# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data files
# =========================
data/
*.csv
*.xlsx
*.parquet
*.feather

# =========================
# Submissions
# =========================
submission*.csv

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
